.product-container {
  margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    background: linear-gradient(135deg, #f3f4f7, #e2e8f0);
  }
  
  .product-content {
    display: flex;
    margin-top: 100px;
    margin-bottom: 0px;
    flex-direction: row;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
  }
  
  .product-image {
    width: 50%;
    object-fit: cover;
  }
  
  .product-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product-details h1 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
  }
  
  .product-details p {
    margin: 5px 0;
    font-size: 18px;
    color: #666;
  }
  
  .product-details p:last-child {
    font-weight: bold;
    color: #000;
  }
  .product-addToCart{
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(203, 168, 235);
    font-size: large;
  }
  .product-addToCart:hover{
    background-color: rgb(49, 4, 92);
    color: white;
  }