
.home-container {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;

}



.home-container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-top: 10%;

}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 5px; 
  background-color: white; 
  transform: translateX(-50%);
}
.home-retailer-name,.home-customer-name{
  text-decoration: underline;
  font-size: 50px;
  color: rgb(245, 162, 9);
}
.home-info{
  padding: 20px;
  color: aqua;
  font-size: 24px;
  line-height: 1.5;
}

.home-button{
 
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;

  background-color: rgba(59, 59, 243, 0.5);
  font-size: large;
  text-decoration: none;
  color: rgb(250, 247, 247);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgb(255, 255, 255,0.3);
  
}
.home-button:hover{
  background-color: blue;
}






























/* 


  .home-container {
    background-color: white;
     margin-top: 50px;
    margin-bottom: 150px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
   
  }
  
  .retailer, .customer {
   
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(17, 17, 17);
    padding: 30px 40px;
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .retailer {
    background-image: url('../../../public/retailer.jpeg');
  }
  
  .customer {
    background-image: url('../../../public/customer.jpeg');
  }
  
  .retailer:hover, .customer:hover {
    transform: scale(1.05);
  }
  
  .home-names {
    font-size: 40px;
    font: bold;
    margin-bottom: 100px;
    color: rgb(241, 241, 241);
    background-color: rgb(0, 0, 0,0.3);
  }
  
  .button {
     display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    color: #ffffff;
    background-color: rgba(5, 31, 60, 0.8);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
   text-align: center; 
    
  }
  
  
    */