
.navbar {
 
  position:fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
 display: flex;
 overflow: hidden;
  height: 100px; /* Set this to the height of your navbar */
  z-index: 1000; 
}

.navbar-logo-title {
  display: flex;
  align-items: center;
}
.names{
  display: inline;
}


.navbar-logo{
  width: 190px;
  height: 100px;
  margin-right: 20px;
}

.navbar-title {
  margin: 0;
  color: rgb(0, 217, 255);
  font-size: 44px;
}

.link-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.link-container .home {
  color:  rgb(0, 217, 255);
  text-decoration: none;
  font-size: 38px;
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.link-container .home img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.home:hover {
  color: rgb(211, 126, 22);
}


.logout-button{
  background-color: rgb(250, 246, 246);
  color: black;
  padding: 5px;
  font-size: 18px;
  border-radius: 10px;
  margin: 10px;
}
.logout-button:hover{
  background-color: rgb(250, 13, 13);
  color: black;
  border-radius: 10px;
 
}

.cart-button{
  background-color: rgb(231, 229, 229);
  font-size: 18px;
  padding: 5px;
  color: black;
  border-radius: 10px;
  margin-right: 20px;
}
.cart-button:hover{
  background-color: blueviolet;
  color: white;
}