
   
   .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px 20px;

    z-index: 1000;
  }
  
  .footer h2 {
    margin: 0 15px;
  }
  
  .footer .social-media {
    display: flex;
    align-items: center;
  }
  
  .footer .social-media img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    transition: transform 0.3s;
  }
  
  .footer .social-media img:hover {
    transform: scale(1.1);
  }
  
  /* For mobile responsiveness */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
    }
  
    .footer h2 {
      margin: 10px 0;
    }
  
    .footer .social-media {
      justify-content: center;
    }
  
    .footer .social-media img {
      margin: 10px;
    }
  }